# Market Basket Analysis using different Association Algorithms  

Market Basket Analysis is a benchmark for trying out different Association Algorithms. Most frequently used algorithms in this are **Apriori**, **FP Tree**.  
This notebook is divided into 5 parts. Each part delve deep into its function. The parts are given below.

- Loading the Data
- Basic Preprocessing
- EDA
- Model Building
- Insights

In [12]:
# Import required packages
import numpy as np
import pandas as pd
import mlxtend as mlx
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

## Loading the data
### Read the Data which is in the XLSX format using `read_excel` function in Pandas and pass `header` argument as None.

In [13]:
# Read a portion of data after loading the dataset
data = pd.read_excel("D:\MindLab\AI\Machine-Learning-and-Data-Science-Projects\Datasets\MBA.xlsx", header=None)
data.head(6)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Basic Preprocessing

In this section the dataset is first converted from *NaN* to empty string. The reason being it will be easy to remove those at a later point. After the conversion to empty string is done, `filter` method is used to remove the empty strings from the list. Making the final data to a list of lists format making it ready for the MLXtend's `TransactionEncoder` function to consume.

In [14]:
data = data.fillna("")

In [15]:
processed_data = [ list(filter(None, x)) for x in data.values.tolist() ]

#processed_data = [[y for y in x if pd.notna(x)] for x in data.values.tolist()]]

## EDA

In this section some basic EDA is done.

In [16]:
# Description of the Dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7501 entries, 0 to 7500
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       7501 non-null   object
 1   1       7501 non-null   object
 2   2       7501 non-null   object
 3   3       7501 non-null   object
 4   4       7501 non-null   object
 5   5       7501 non-null   object
 6   6       7501 non-null   object
 7   7       7501 non-null   object
 8   8       7501 non-null   object
 9   9       7501 non-null   object
 10  10      7501 non-null   object
 11  11      7501 non-null   object
 12  12      7501 non-null   object
 13  13      7501 non-null   object
 14  14      7501 non-null   object
 15  15      7501 non-null   object
 16  16      7501 non-null   object
 17  17      7501 non-null   object
 18  18      7501 non-null   object
 19  19      7501 non-null   object
dtypes: object(20)
memory usage: 1.1+ MB

In [17]:
data.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
count,7501,7501,7501,7501,7501,7501,7501,7501,7501,7501,7501,7501,7501,7501,7501,7501,7501,7501,7501,7501
unique,115,118,116,115,111,107,103,98,89,81,67,51,44,29,20,9,4,4,4,2
top,mineral water,,,,,,,,,,,,,,,,,,,
freq,577,1754,3112,4156,4972,5637,6132,6520,6847,7106,7245,7347,7414,7454,7476,7493,7497,7497,7498,7500

In [18]:
# Graphs

## Model Creation
In this section we create an Apriori model using `MLXtend` package

In [23]:
# Transaction Encoder
transact_encoder = TransactionEncoder()
transact_array = transact_encoder.fit(processed_data).transform(processed_data)
transformed_df = pd.DataFrame(transact_array, columns=transact_encoder.columns_)

In [24]:
transformed_df.head(6)

,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,body spray,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,True,True,False,True,False,False,False,False,False,False,...,False,True,False,False,True,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,True,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [25]:
frequent_itemsets = apriori(transformed_df, min_support=0.03, use_colnames=True)
print(frequent_itemsets)

     support                            itemsets
0   0.033329                           (avocado)
1   0.033729                          (brownies)
2   0.087188                           (burgers)
3   0.030129                            (butter)
4   0.081056                              (cake)
5   0.046794                         (champagne)
6   0.059992                           (chicken)
7   0.163845                         (chocolate)
8   0.080389                           (cookies)
9   0.051060                       (cooking oil)
10  0.031862                    (cottage cheese)
11  0.179709                              (eggs)
12  0.079323                          (escalope)
13  0.170911                      (french fries)
14  0.043061                       (fresh bread)
15  0.063325                   (frozen smoothie)
16  0.095321                 (frozen vegetables)
17  0.052393                     (grated cheese)
18  0.132116                         (green tea)
19  0.098254                       (ground beef)
20  0.049460                     (herb & pepper)
21  0.047460                             (honey)
22  0.032396                          (hot dogs)
23  0.076523                    (low fat yogurt)
24  0.129583                              (milk)
25  0.238368                     (mineral water)
26  0.065858                         (olive oil)
27  0.095054                          (pancakes)
28  0.042528                            (salmon)
29  0.071457                            (shrimp)
30  0.050527                              (soup)
31  0.174110                         (spaghetti)
32  0.030396                      (tomato juice)
33  0.068391                          (tomatoes)
34  0.062525                            (turkey)
35  0.058526                  (whole wheat rice)
36  0.033196                   (eggs, chocolate)
37  0.034395           (french fries, chocolate)
38  0.032129                   (milk, chocolate)
39  0.052660          (mineral water, chocolate)
40  0.039195              (chocolate, spaghetti)
41  0.036395                (french fries, eggs)
42  0.030796                        (eggs, milk)
43  0.050927               (eggs, mineral water)
44  0.036528                   (eggs, spaghetti)
45  0.033729       (french fries, mineral water)
46  0.035729  (mineral water, frozen vegetables)
47  0.031063          (green tea, mineral water)
48  0.040928        (ground beef, mineral water)
49  0.039195            (ground beef, spaghetti)
50  0.047994               (milk, mineral water)
51  0.035462                   (milk, spaghetti)
52  0.033729           (mineral water, pancakes)
53  0.059725          (mineral water, spaghetti)

In [27]:
# Mine Association Rules
assoc_rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.06)
print(assoc_rules)

            antecedents          consequents  antecedent support  \
0                (eggs)          (chocolate)            0.179709
1           (chocolate)               (eggs)            0.163845
2        (french fries)          (chocolate)            0.170911
3           (chocolate)       (french fries)            0.163845
4                (milk)          (chocolate)            0.129583
5           (chocolate)               (milk)            0.163845
6       (mineral water)          (chocolate)            0.238368
7           (chocolate)      (mineral water)            0.163845
8           (chocolate)          (spaghetti)            0.163845
9           (spaghetti)          (chocolate)            0.174110
10       (french fries)               (eggs)            0.170911
11               (eggs)       (french fries)            0.179709
12               (eggs)               (milk)            0.179709
13               (milk)               (eggs)            0.129583
14               (eggs)      (mineral water)            0.179709
15      (mineral water)               (eggs)            0.238368
16               (eggs)          (spaghetti)            0.179709
17          (spaghetti)               (eggs)            0.174110
18       (french fries)      (mineral water)            0.170911
19      (mineral water)       (french fries)            0.238368
20      (mineral water)  (frozen vegetables)            0.238368
21  (frozen vegetables)      (mineral water)            0.095321
22          (green tea)      (mineral water)            0.132116
23      (mineral water)          (green tea)            0.238368
24        (ground beef)      (mineral water)            0.098254
25      (mineral water)        (ground beef)            0.238368
26        (ground beef)          (spaghetti)            0.098254
27          (spaghetti)        (ground beef)            0.174110
28               (milk)      (mineral water)            0.129583
29      (mineral water)               (milk)            0.238368
30               (milk)          (spaghetti)            0.129583
31          (spaghetti)               (milk)            0.174110
32      (mineral water)           (pancakes)            0.238368
33           (pancakes)      (mineral water)            0.095054
34      (mineral water)          (spaghetti)            0.238368
35          (spaghetti)      (mineral water)            0.174110

    consequent support   support  confidence      lift  leverage  conviction
0             0.163845  0.033196    0.184718  1.127397  0.003751    1.025603
1             0.179709  0.033196    0.202604  1.127397  0.003751    1.028711
2             0.163845  0.034395    0.201248  1.228284  0.006393    1.046827
3             0.170911  0.034395    0.209927  1.228284  0.006393    1.049383
4             0.163845  0.032129    0.247942  1.513276  0.010898    1.111823
5             0.129583  0.032129    0.196094  1.513276  0.010898    1.082736
6             0.163845  0.052660    0.220917  1.348332  0.013604    1.073256
7             0.238368  0.052660    0.321400  1.348332  0.013604    1.122357
8             0.174110  0.039195    0.239219  1.373952  0.010668    1.085581
9             0.163845  0.039195    0.225115  1.373952  0.010668    1.079070
10            0.179709  0.036395    0.212949  1.184961  0.005681    1.042232
11            0.170911  0.036395    0.202522  1.184961  0.005681    1.039640
12            0.129583  0.030796    0.171365  1.322437  0.007509    1.050423
13            0.179709  0.030796    0.237654  1.322437  0.007509    1.076009
14            0.238368  0.050927    0.283383  1.188845  0.008090    1.062815
15            0.179709  0.050927    0.213647  1.188845  0.008090    1.043158
16            0.174110  0.036528    0.203264  1.167446  0.005239    1.036592
17            0.179709  0.036528    0.209801  1.167446  0.005239    1.038081
18            0.238368  0.033729    0.197348  0.827912 -0.007011    0.948894
19            0.170911  0.033729    0.141499  0.827912 -0.007011    0.965741
20            0.095321  0.035729    0.149888  1.572463  0.013007    1.064189
21            0.238368  0.035729    0.374825  1.572463  0.013007    1.218270
22            0.238368  0.031063    0.235116  0.986357 -0.000430    0.995748
23            0.132116  0.031063    0.130313  0.986357 -0.000430    0.997927
24            0.238368  0.040928    0.416554  1.747522  0.017507    1.305401
25            0.098254  0.040928    0.171700  1.747522  0.017507    1.088672
26            0.174110  0.039195    0.398915  2.291162  0.022088    1.373997
27            0.098254  0.039195    0.225115  2.291162  0.022088    1.163716
28            0.238368  0.047994    0.370370  1.553774  0.017105    1.209650
29            0.129583  0.047994    0.201342  1.553774  0.017105    1.089850
30            0.174110  0.035462    0.273663  1.571779  0.012900    1.137061
31            0.129583  0.035462    0.203675  1.571779  0.012900    1.093043
32            0.095054  0.033729    0.141499  1.488616  0.011071    1.054100
33            0.238368  0.033729    0.354839  1.488616  0.011071    1.180529
34            0.174110  0.059725    0.250559  1.439085  0.018223    1.102008
35            0.238368  0.059725    0.343032  1.439085  0.018223    1.159314